@charset "UTF-8";


html{
    /* Reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Background */
    background: linear-gradient(160deg,  #47cbff 0%, #ff1a6a 90%) no-repeat;
    background-attachment: fixed;
    background-size: 200% 200%;

    /* Animação do Fundo */
    animation: fundo 5s ease-in-out alternate infinite;

    /* Dimensões */
    height: 100vh;
    overflow: hidden;
    
    /* Alinhamento do conteúdo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fundo{
    from{
        background-position: 20% 20%;
    }
    to{
        background-position: 65% 65%;
    }
}

#spinner {
    /* Posição */
    position: absolute;

    /* Dimensões */
    width: 60px;
    height: 60px;

    /* Formatação do container */
    border: 8px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    border-left-color:#47cbff;

    /* Animações separadas por "," */
    animation: spin 1s linear infinite, transition2 1s 5s both;
}
@keyframes spin {
    to{ transform: rotate(360deg);}
}

@keyframes transition2{
    to{opacity: 0;}
}


div#tela-login {
    /* Posição */
    position: absolute;

    /* Formatação do container */
    background-color: rgba(0, 0, 0, .8);
    padding: 60px;
    border-radius: 15px;
    align-items: center;

    /* Animação */
    opacity: 0;
    animation: transition 1s 6s both;
}
@keyframes transition{
    to{opacity: 1;}
}

div#tela-login h1 {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 3rem;
    margin-top: 0px;
}

div#tela-login input {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px auto;
    border: none;
    outline: none;
    font-size: 20px;
}

div#tela-login button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: dodgerblue;
}

div#tela-login button:hover {
    background-color: deepskyblue;
    cursor: pointer;
}